@media screen and (min-width: 1024px) {
  body {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/bg-desktop.png),
      linear-gradient(to bottom, $neutral-4, $neutral-4);
  }

  main {
    width: 100%;
    @include flex(row);
  }
}
