@import "./partials/base";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  height: auto;
  min-height: 100vh;
  min-height: d100vh;
  background-image: url(../images/bg-mobile.png),
    linear-gradient(to bottom, $neutral-4, $neutral-4);
  background-size: cover;
  background-position: bottom;
  display: grid;
  place-items: center;
  position: relative;
}

@import "./partials/footer";

@import "./partials/main";
@import "./utils/mixins";

main {
  width: 100%;
  @include flex(column);
  gap: $baseFontSize;
  max-width: calc($baseFontSize * 65);
}

@import "./partials/detail";
@import "./partials/query";
