*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  height: auto;
  min-height: 100vh;
  min-height: d100vh;
  background-image: url(../images/bg-mobile.png), linear-gradient(to bottom, hsl(229, 57%, 11%), hsl(229, 57%, 11%));
  background-size: cover;
  background-position: bottom;
  display: grid;
  place-items: center;
  position: relative;
}

footer,
.attribution {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.main {
  width: 90%;
}
.main div {
  background-color: hsl(228, 56%, 26%);
  padding: 28px;
  border-radius: 7px;
  border-top-right-radius: 84px;
  margin: auto;
  width: 100%;
  max-width: 322px;
  filter: drop-shadow(0 1px 1rem rgba(0, 0, 0, 0.25));
  display: grid;
  gap: 28px;
}
.main div h1 {
  color: aqua;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.main div img {
  height: 100%;
  width: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.main div ul {
  list-style: none;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}
.main div ul li {
  height: 42px;
  width: 42px;
  background-color: hsl(229, 57%, 11%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  aspect-ratio: 1/1;
  border-radius: 7px;
  transition: all 0.25s ease;
  cursor: pointer;
}
.main div ul li img {
  height: 40%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  transition: all 0.5s ease;
  pointer-events: none;
}
.main div ul li:hover {
  filter: drop-shadow(0 1px 1rem rgba(0, 0, 0, 0.25));
  transform: rotateY(180deg) translateY(-3.5px);
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 14px;
  max-width: 910px;
}

.detail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
  background-color: hsl(228, 56%, 26%);
  padding: 28px;
  filter: drop-shadow(0 1px 1rem rgba(0, 0, 0, 0.25));
  border-radius: 7px;
  position: relative;
  flex-basis: 100%;
  width: 90%;
  max-width: 322px;
}
.detail h2 {
  padding: 7px 28px;
  background-color: hsl(243, 100%, 93%);
  border-radius: 7px;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 75%);
  color: hsl(229, 7%, 55%);
  font-weight: 400;
  font-size: 10.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 7px;
}
.detail h2 strong {
  color: hsl(229, 57%, 11%);
  font-size: 35px;
}
.detail p {
  font-size: 14px;
  color: hsl(243, 100%, 93%);
  text-align: center;
}
.detail p > span {
  opacity: 0.6;
}
.detail p > strong {
  font-weight: 700;
  opacity: 1;
}
.detail div {
  width: 100%;
}
.detail div .progress {
  background-color: hsl(229, 57%, 11%);
  width: 100%;
  height: 14px;
  border-radius: 21px;
  padding: 2px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  margin: 7px 0;
}
.detail div .progress__full {
  width: 75%;
  height: 100%;
  border-radius: 21px;
  background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
}
.detail div .progress .cursor {
  position: absolute;
  height: 40%;
  width: auto;
  top: 50%;
  right: 25%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1/1;
  background-color: hsl(243, 100%, 93%);
  border-radius: 50%;
}
.detail div ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  list-style: none;
}
.detail div ul li > small {
  font-size: 10.5px;
  color: hsl(243, 100%, 93%);
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  body {
    background-image: url(../images/bg-desktop.png), linear-gradient(to bottom, hsl(229, 57%, 11%), hsl(229, 57%, 11%));
  }
  main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
  }
  main .main {
    flex-basis: 40%;
  }
  main .main div {
    max-width: none;
  }
  main .detail {
    flex-basis: 60%;
    max-width: none;
  }
  main .detail h2 {
    top: 0;
    right: 0;
    left: auto;
    bottom: auto;
    z-index: 2;
    border-bottom-right-radius: 0;
    transform: translate(-20%, -75%);
  }
  main .detail h2::after {
    content: "";
    height: 21px;
    width: 21px;
    position: absolute;
    background-color: hsl(243, 100%, 93%);
    right: 0;
    bottom: 0;
    transform: translate(0, 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
  }
}
@media screen and (min-width: 1440px) {
  body {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/bg-desktop.png), linear-gradient(to bottom, hsl(229, 57%, 11%), hsl(229, 57%, 11%));
    background-attachment: fixed;
  }
}/*# sourceMappingURL=styles.css.map */